<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of GetOnTrip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GetOnTrip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72D86DDE1B65D94D004B72D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D86DF31B65D94D004B72D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE109D61BB6C1830072B0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE109E71BB6C1B00072B0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE109F51BB6C1B00072B0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
